In [3]:
import pandas as pd

In [192]:
d2c=pd.read_csv('dataset_uncleaned.csv',encoding='ISO-8859-1')

In [193]:
d2c.head(20)

,Disease,Count of Disease Occurrence,Symptom
0,UMLS:C0020538_hypertensive disease,3363.0,UMLS:C0008031_pain chest
1,NaN,NaN,UMLS:C0392680_shortness of breath
2,NaN,NaN,UMLS:C0012833_dizziness
3,NaN,NaN,UMLS:C0004093_asthenia
4,NaN,NaN,UMLS:C0085639_fall
5,NaN,NaN,UMLS:C0039070_syncope
6,NaN,NaN,UMLS:C0042571_vertigo
7,NaN,NaN,UMLS:C0038990_sweat^UMLS:C0700590_sweating inc...
8,NaN,NaN,UMLS:C0030252_palpitation
9,NaN,NaN,UMLS:C0027497_nausea
10,NaN,NaN,UMLS:C0002962_angina pectoris
11,NaN,NaN,UMLS:C0438716_pressure chest
12,UMLS:C0011847_diabetes,1421.0,UMLS:C0032617_polyuria
13,NaN,NaN,UMLS:C0085602_polydypsia
14,NaN,NaN,UMLS:C0392680_shortness of breath
15,NaN,NaN,UMLS:C0008031_pain chest
16,NaN,NaN,UMLS:C0004093_asthenia
17,NaN,NaN,UMLS:C0027497_nausea
18,NaN,NaN,UMLS:C0085619_orthopnea
19,NaN,NaN,UMLS:C0034642_rale

In [194]:
d2c.shape

(1867, 3)

In [197]:
temp=d2c.Symptom.str.split("^",expand=True)

In [198]:
temp.count()

0    1865
1      41
2       1
dtype: int64

In [199]:
temp.loc[temp[2].notnull()]

,0,1,2
390,UMLS:C0039070_syncope,UMLS:C0312422_blackout,UMLS:C0424533_history of - blackout

In [200]:
temp=pd.Series(temp.values.ravel('F')).to_frame()
temp.dropna(inplace=True)

In [201]:
d2c=temp

In [202]:
d2c.rename(columns={0:'Symptom'},inplace=True)

In [203]:
d2c

                                  Symptom
0                UMLS:C0008031_pain chest
1       UMLS:C0392680_shortness of breath
2                 UMLS:C0012833_dizziness
3                  UMLS:C0004093_asthenia
4                      UMLS:C0085639_fall
...                                   ...
3655     UMLS:C0878661_cushingoid habitus
3663     UMLS:C0700590_sweating increased
3667   UMLS:C1320716_cardiovascular event
3728              UMLS:C0741453_bedridden
4124  UMLS:C0424533_history of - blackout

[1907 rows x 1 columns]

In [204]:
disease=d2c.Symptom.str.split("_",expand=True)

In [205]:
disease

                  0                      1
0     UMLS:C0008031             pain chest
1     UMLS:C0392680    shortness of breath
2     UMLS:C0012833              dizziness
3     UMLS:C0004093               asthenia
4     UMLS:C0085639                   fall
...             ...                    ...
3655  UMLS:C0878661     cushingoid habitus
3663  UMLS:C0700590     sweating increased
3667  UMLS:C1320716   cardiovascular event
3728  UMLS:C0741453              bedridden
4124  UMLS:C0424533  history of - blackout

[1907 rows x 2 columns]

In [206]:
disease[['k','UMLSD']]=disease[0].str.split(':',expand=True)

In [207]:
disease.drop(columns='k',inplace=True)

In [208]:
disease.drop(columns=0,inplace=True)

In [209]:
disease.rename(columns={1:'Symptom'},inplace=True)

In [210]:
disease.dropna(inplace=True)

In [218]:
disease.reset_index(drop=True,inplace=True)

In [219]:
disease

                   Symptom     UMLSD
0               pain chest  C0008031
1      shortness of breath  C0392680
2                dizziness  C0012833
3                 asthenia  C0004093
4                     fall  C0085639
..                     ...       ...
402            underweight  C1319518
403           claudication  C1456822
404         adverse effect  C0879626
405   cardiovascular event  C1320716
406  history of - blackout  C0424533

[407 rows x 2 columns]

In [216]:
disease.drop_duplicates(inplace=True)

In [220]:
disease.to_csv(r'SymptomUMLS.csv', index = False)

In [221]:
gd=pd.read_csv('disease-symptom-db.csv')

In [222]:
gd.head()

,Disease_UMLS,Disease_CUI,Symptom,Symptom_CUI
0,"porphyrie , akute intermittierende",C0162565,sinustachykardie,C0039239
1,"porphyrie , akute intermittierende",C0162565,abdominalschmerzen,C0000737
2,"porphyrie , akute intermittierende",C0162565,adynamie,C0235704
3,"porphyrie , akute intermittierende",C0162565,paraesthesie,C0030554
4,"porphyrie , akute intermittierende",C0162565,parese,C0030552

In [224]:
from googletrans import Translator
translator = Translator()
df = pd.DataFrame({'Spanish':['piso','cama']})

In [226]:
df

  Spanish
0    piso
1    cama

In [231]:
df['English'] = df['Spanish'].apply(translator.translate, src='es', dest='en').apply(getattr, args=('text',))

AttributeError: 'NoneType' object has no attribute 'group'

In [248]:
import googletrans
from googletrans import Translator

In [249]:
translator = Translator(service_urls=['translate.googleapis.com'])
translator.translate("Der Himmel ist blau und ich mag Bananen", dest='en')

AttributeError: 'NoneType' object has no attribute 'group'